[Unit]
Description=Launching the node to enable joystick control
After=roscore.service network-online.target
Requires=roscore.service
Restart=always

[Service]
ExecStartPre=/bin/sleep 7
ExecStart=/bin/zsh -c "source /opt/ros/kinetic/setup.zsh; source /home/dan/ros/devel/setup.zsh; roslaunch garry-robot joy.launch"

[Install]
WantedBy=multi-user.target
