[Unit]
Description=Rosmaster launch
After=network-online.target

[Service]
ExecStart=/bin/zsh -c "source /opt/ros/kinetic/setup.zsh; roscore"

[Install]
WantedBy=multi-user.target
